#!/usr/bin/env zsh

# ==================================================================
# .bash_ware
# ==================================================================
# This file exists so that you may add any additional paths for specialist software you might be running
# NOTE: What appears below is a suggestion only!
# You will need to know what you're doing before you uncomment these lines!
# ==================================================================
# Load NVM (Node + NPN)
# export NVM_DIR="$HOME/.nvm"
# [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
# [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
