#!/usr/bin/env zsh

# ==================================================================
# .zsh_ssh
# ==================================================================
# This file exists so that you may add any ssh keys that you require on session start
# NOTE: What appears below is a suggestion only!
# You will need to know what you're doing before you uncomment these lines!
# ==================================================================
# eval "$(ssh-agent)" &> /dev/null
# ssh-add ~/.ssh/aever_git &> /dev/null
# ssh-add ~/.ssh/id_auth &> /dev/null
